<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>base_app</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb818310977228005</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>818310977228005</string>
	<key>FacebookClientToken</key>
	<string>59360c55b96464fd3c19554853a6a03c</string>
	<key>FacebookDisplayName</key>
	<string>Test Đăng nhập</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Ứng dụng cần quyền Apple Music để phát nhạc.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Ứng dụng cần quyền lịch để tạo sự kiện.</string>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần quyền camera để chụp ảnh.</string>
	<key>NSContactsUsageDescription</key>
	<string>Ứng dụng cần quyền danh bạ để kết nối bạn bè.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền vị trí ngay cả khi không mở.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền vị trí khi sử dụng.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng cần quyền micro để ghi âm.</string>
	<key>NSMotionUsageDescription</key>
	<string>Ứng dụng cần quyền cảm biến chuyển động.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng cần quyền ghi vào thư viện ảnh.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập thư viện ảnh.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ứng dụng cần quyền nhận diện giọng nói.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Ketimun.otf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-BoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
		<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraLight.ttf</string>
		<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>PlusJakartaSans-Italic.ttf</string>
		<string>PlusJakartaSans-Light.ttf</string>
		<string>PlusJakartaSans-LightItalic.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-MediumItalic.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
